.mian {
    display: flex;
    justify-content: center;
    // background-color: #ffffff;
    // border: solid 1px black;
    width: 100%;
    // margin: 0px 80px;
    padding: 30px 0px;
    box-sizing: border-box;
}

.takenotes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    border-radius: 8px;
    box-shadow: grey 1px 1px 5px ;
    border: solid 1px rgb(211, 211, 211);
    padding: 1px 16px;
    box-sizing: border-box;
}

.notebar{
    width: 40%;
    letter-spacing: .01428571em;
    background-color: transparent;
    // font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight:500;
    line-height: 1.25rem;
}

form{
    width: 42%;
    display: flex;
    justify-content: center;
}

.createnotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    box-shadow: grey 1px 1px 5px ;
    border: solid 1px rgb(211, 211, 211);
}

.titlebar{
    width: 100%;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.title{
    font-size: 1rem;
    font-weight: 500;
    width: 80%;
    background-color: transparent;
}

input, textarea{
    border: none;
    padding: 0px;
}

input, textarea:focus{
    outline: none;
}

.desc {
    font-size: 1rem;
    width: 100%;
    padding: 5px 16px;
    box-sizing: border-box;
    resize: none; /* disable textarea resizing by user */
    overflow-y: hidden; /* hide the scrollbar */
    font-family: inherit; 
    font-size: inherit; 
    font-weight: 400;
    background-color: transparent;
}

.desc::placeholder {
    color: #797979; /* Placeholder text color */
    transform: translateY(35%); /* Vertically center the placeholder text */
}

.notesicon{
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

app-icons{
    width:70%
}

.close{
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.close:hover{
    background-color: #f5f5f5;
}

.redo-icon{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}